
.wrapper {
  opacity: 1;
  animation: fade 2s linear;
  height: 29em;
  background: url('/client/dist/assets/markus-spiske-37198.jpg') no-repeat center fixed;
  background-position: 10% 250%;
  background-size: 100%;
  // background-size: cover;
}

