
.wrapper {
  opacity: 1;
  animation: fade 2s linear;
  height: 27em;
  background: url('https://static.pexels.com/photos/25100/pexels-photo-25100.jpg') no-repeat center fixed;
  background-position: 30% 25%;
  background-size: 100%;
}

