.projectWrapper {
  position: absolute;
  opacity: 1;
  animation: fade 2s linear;
  color: $primary-color;
  height: 70em;
  font-family: $oswald;
  background-color: $projects-background-color;
  width: 100%; 
}


.projectTitle {
  font-size: 3em;
}

.aProject {
  position: relative;
  width: 50%;
  left: 25em;
  padding-top: 5em;
  padding-left: 5em;

}

.projectsTitle {
  text-align: center;
  font-size: 4em;
  text-decoration: underline;
}

.projectDescription {
  display: flex;
  flex-direction: column;
}

.projectImage {
  opacity: .25;
  height: 15em;
  width: 30em;
}

.projectImage:hover {
  opacity: 1;

}

.link {
  color: #eddf90;
}